.container {
  display: flex;
  min-height: 100vh;
}

.right-panel {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.sidebar {
  background-image: url("images/girl.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  flex: 1;
}

.logo {
  display: flex;
  align-items: center;
}
